In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_csv('diabetes.csv')
dataset.isnull().any()
dataset = dataset.fillna(method='ffill')

In [4]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
dataset.shape

(768, 9)

In [7]:
x = np.array(dataset)[:, :8]
y = np.array(dataset)[:, 8]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [8]:
pd.DataFrame(x_train).head()

      0      1     2     3      4     5      6     7
0   9.0   89.0  62.0   0.0    0.0  22.5  0.142  33.0
1   1.0  118.0  58.0  36.0   94.0  33.3  0.261  23.0
2   0.0   91.0  80.0   0.0    0.0  32.4  0.601  27.0
3  12.0  140.0  82.0  43.0  325.0  39.2  0.528  58.0
4   9.0  145.0  80.0  46.0  130.0  37.9  0.637  40.0

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

pd.DataFrame(x_test).head()

,0,1,2,3,4,5,6,7
0,-0.829864,2.457628,0.332499,1.365830,-0.718238,1.344205,2.786654,-0.965849
1,-0.537687,-0.446931,0.227211,0.554072,0.134938,0.174910,-0.194347,-0.882466
2,0.046667,-1.425641,-0.404519,-1.319215,-0.718238,0.225202,-0.233492,-0.715701
3,0.338844,1.415775,0.121922,-0.132800,0.774820,-0.805790,0.356686,1.452247
4,-1.122041,-0.320646,-0.246587,-1.319215,-0.718238,-0.956667,0.576497,-0.215405

In [10]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
y_pred = gnb.predict(x_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[114  16]
 [ 29  33]]

In [12]:
print((cm[0][0]+cm[1][1])/(sum(cm[0])+sum(cm[1])))

0.765625